body {
  background: #eee;
  font-family: Verdama, Tahoma, sans-serif;
  /* box-sizing: border-box; */
}

.card {
  width: 400px;
  height: auto;
  background: #fff;
  margin: 80px auto;
  padding: 8px;
  align-content: center;
  border: 20px;
}
.title {
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin: 20px 25px;
  text-align: center;
  padding: 2px;
  border: 1px;
  background: #ff6961;
}

.image-header {
  display: block;
  margin: 20px auto;
}

.menu-list {
  background: beige;
  padding: 20px;
  margin: 20px 25px;
}
